@tailwind base;
@tailwind components;
@tailwind utilities;

/* For AppBar */
.draggable {
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.undraggable {
    -webkit-app-region: no-drag;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}